body{
    background-image: url('../img/bglogin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
section{
    border-radius: 10px;
}
#particles-js{
    height: 100%;
}
.img_admin{
    width: 350px !important;
    height: 300px;
}
.img_admin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}